nav.site-navigation
  .logo
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='#main-section') Home
    li
      a(data-scroll, href='#about-section') About
    li
      a(data-scroll, href='#ksum-footer') Contact
    li
      a(data-scroll, href='http://app.breakcorona.in/register') Register
    li
      a(data-scroll, href='http://app.breakcorona.in/login') Login
    
    