doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#main-section
      .content
        span Break Corona
        h1 Idea & Product Solution
        h3 Fight against Corona
        p When the adverse CoronaVirus is taking lives from various parts of the Globe, Kerala Startup Mission on behalf of Government of Kerala is calling for innovative ideas and solutions to defend and hunt down the Global Pandemic from the Avengers around us.
        a.button(href="http://app.breakcorona.in/register") Apply Now
      .image
        img.img-fluid.w-75(src="./img/banner-img1.png")
      // .counter
      //   .counter-item
      //     div.left
      //       span.count-text Ideas Received
      //       span.count-number 0
      //     div
      //       #chart-idea
      //   .counter-item
      //     div.left
      //       span.count-text Solutions Received
      //       span.count-number 0

      
    section#about-section
      .image
        img.img-fluid.w-75(src="./img/about-img1.png")
      .content
        h3 What are we looking for ?
        p We are seeking ideas and solutions that have been proven or used in some other scenario i.e product /projects  with a PoC/ and  have potential usage in the fight against CoronaVirus only to be submitted. 
        h5 The categories are :
        ul 
          li Ideas to support Covid 19 Patients
          li Ideas to support Quarantine Covid 19 patients 
          li Ideas to arrest Community Outbreak (If it happens)
          li Ideas for effective Logistics & Distribution (Food/Medicine/Grocery)
          li Ideas to support vulnerable people (aged/infants) 
          li Ideas to support system during Shutdown
          li Hardware (Temporary medical items or substitutes or any hardware product that can be useful during the time of crisis)
          li Ideas that support during economic slowdown if happens
          li Do It Yourself (DIY) Projects (Creating masks, sanitizers, gloves, etc)
          li Any other ideas / solutions which support prevention of Covid 19
          li Ideas to create Employment opportunities during lockdown

        p.small.text-muted Kindly note that only ideas/solutions that are given well in detail and with details of realising those ideas shall only be submitted. As we all know we don't have much time for experimentation. 


    section#who-section
      
        .row
          .col-sm-12
            h3.mb-3 Who can participate?
        .row.pt-4
          .col-lg-4.col-md-6.col-sm-6
            .single-box
              .icon
                img.img-fluid(src="./img/student.png")
              h4 Students
              p School going or college students in any discipline are eligible to participate. 
              a(href="http://app.breakcorona.in/register?type=Students") Register Now
          .col-lg-4.col-md-6.col-sm-6
            .single-box
              .icon
                img.img-fluid(src="./img/innovator.png")
              h4 Innovators
              p Individuals who have proven thier expertise in product and solution development.  
              a(href="http://app.breakcorona.in/register?type=Innovators") Register Now
          .col-lg-4.col-md-6.col-sm-6
            .single-box
              .icon
                img.img-fluid(src="./img/startup.png")
              h4 Startups
              p A company/firm with a valid registration is eligible to participate. 
              a(href="http://app.breakcorona.in/register?type=Startups") Register Now
          .col-lg-4.col-md-6.col-sm-6
            .single-box
              .icon
                img.img-fluid(src="./img/individual.png")
              h4 Individuals
              p Any individual who is having an excellent idea which would be a potential game changer against the fight against Covid 19/ Corona.  
              a(href="http://app.breakcorona.in/register?type=Individuals") Register Now
          .col-lg-4.col-md-6.col-sm-6
            .single-box
              .icon
                img.img-fluid(src="./img/community.png")
              h4 Communities
              p Communities working on technologies or on projects of social importance are eligible to participate.  
              a(href="http://app.breakcorona.in/register?type=Communities") Register Now
          .col-lg-4.col-md-6.col-sm-6
            .single-box
              .icon
                img.img-fluid(src="./img/ngo.png")
              h4 NGOs
              p Any NGO which has a proven idea which shall be of potential use against the fight against Covid 19/ Corona. 
              a(href="http://app.breakcorona.in/register?type=NGOs") Register Now
        .row.mt-5
          .col-sm-12
            h5 NB: The applicant/team who submits the idea/ solution is expected to have good domain knowledge
            p.m-0 The Process
            ol
              li The ideas submitted will be evaluated by a team of experts in the respective domains
              li The selected ideas shall be realised by the applicant and  shall make prototypes on his own.
              li The selected ideas/ solutions shall be absorbed with immediate effect and shall be used

    section#partners.section-content
      .container
        .row
          .col-sm-12
            h1.mb-5.text-center Partners
        .row.justify-content-center
          .col-sm-4.text-center
            img.img-fluid(src="./img/gtech.png")
          .col-sm-4.text-center
            img.img-fluid(src="./img/ima.png")
          //- .col-sm-4
          //-   img.img-fluid(src="./img/ima.png")          

    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
